<div class="container" style="background-color: aqua">

    <div class="container">
        <form (ngSubmit)="createEmployee()" class="col-md-6">
            <div class="form-group">
                <label for="my-input">Name</label>
                <input placeholder="Enter your full name" class="form-control" type="text" name="name" [(ngModel)]="name">
            </div>
            <div class="form-group">
                <label for="my-input">Home Adress</label>
                <input placeholder="Enter your Home address" class="form-control" type="text" name="address" [(ngModel)]="address">
            </div>
            <div class="form-group">
                <label for="my-input">DOB</label>
                <input placeholder="Enter your date of birth" class="form-control" type="date" name="dob" [(ngModel)]="dob">
            </div>
            <div class="form-group">
                <label for="my-input">Mobile Number</label>
                <input placeholder="Enter your mobile number" class="form-control" type="text" name="number" [(ngModel)]="number">
                <div class="form-group">
                    <label for="my-input">Degree</label>
                    <input placeholder="Enter your Highest degree" class="form-control" type="text" name="degree" [(ngModel)]="degree">
                </div>
                <div class="form-group">
                    <label for="my-input">Marks</label>
                    <input placeholder="Enter your Marks" class="form-control" type="text" name="marks" [(ngModel)]="marks">
                </div>
                <div class="form-group">
                    <label for="my-input">Stream</label>
                    <input placeholder="Enter your Stream" class="form-control" type="text" name="stream" [(ngModel)]="stream">
                </div>
                <div class="form-group">
                    <label for="my-input">College</label>
                    <input placeholder="Enter your College" class="form-control" type="text" name="college" [(ngModel)]="college">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Add details</button>
        </form>
    </div>
</div>