<div class="container" style="background-color: rgba(36, 201, 146, 0.884)">
    <h1>Details of {{employee.name}}</h1>
    <div class="row">
        <div class="col-md-6 info">
          <div>Name: {{employee.name}}</div>
          <div>Address: {{employee.address}}</div>
          <div>Dob: {{employee.dob}}</div>
          <div>Number: {{employee.number}}</div>
          <div>Degree: {{employee.degree}}</div>
          <div>Marks: {{employee.marks}}</div>
          <div>Stream: {{employee.stream}}</div>
          <div>College: {{employee.college}}</div>
        </div>
    </div>
</div>